body {
  margin: 0;
  text-align: center; // pour corriger le bug de centrage IE
  font-family: sans-serif;
  color: #666666;
}
div#login, div#msg {

  /* integration biblioinserm :
  background-image: url('/images/fond.png');*/
  background-repeat: no-repeat;
  width: 1031px; height: 476px;

  position: absolute;
  left: 50%; top: 50%;
  margin-top: -295px; /* moitie de la hauteur */
  margin-left: -515px; /* moitie de la largeur */
  text-align: center;
}
div#login div#form {
    text-align: left;
    position: absolute;
    top: 90px; left: 320px;
    width: 390px; height: 301px;
    margin-top: 30px;
    /*font-size: 110%;*/
    padding-bottom: 0px;

    background-color: #FFFFFF;
    border: 3px solid #555;

    border-radius:         10px;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius:  10px;
}

div#login div#form h1 {
    width: 220px;
    /*margin: auto;*/
    margin-left: 20px;
    margin-top: 60px;
    font-size: 105%;
    padding-bottom: 0px;
    text-align: center;
}
div#login img#keyicon {
    position: absolute;
    left: 250px;
    top: 20px;
}
div#login div#form p {
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 80%;
}
div#login div#form ul {
    position: absolute;
    top: 150px; left: 20px;
    margin: 0; padding: 0;
    text-align: left;
    list-style-type: none;
}
div#login div#form li {
    margin-left: 0px;
    margin-top: 5px;
}
div#login div#form li.input {
    font-size: 80%;
}
div#login div#form li.input input {
    width: 350px;
}
div#login div#form li input {
    border-width:1px;
}
div#login div#form li.input input {
    background: #FFFFDD none repeat scroll 0 0;
    border-width:1px;
}
div#login div#form li.input input:focus {
    background-color: #FBDC69;
}
div#login div#form a.help,
div#login div#form a.help2 {
    font-size: 60%;
    text-decoration: none;
    color: #274AA8;
}
div#login div#form a.help img {
    vertical-align: middle;
    border: none;
}
div#login div#form a.help2 {
    margin-left: 0px;
}
div#login div#form p.help-container {
    padding: 0; margin: 0;
    margin-left: 10px;
    display: inline;
}
div#powered {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  text-align: left;
  font-size: 70%;
  color: #999999;
  border-top: 1px solid #999999;
  width: 100%;
}
div#powered p {
  margin: 0 5px 5px 5px;
}
div#logo {
  position: absolute;
  bottom: 10px;
  right: 0;
}
div#logo ul {
  list-style-type: none;
}
div#logo ul li {
  display: inline;
  margin: 5px;
}
div#logo ul li img {
  border: none;
}

/* bulle d'aide */
.cluetip-default {
  background-color: #d9d9c2;
  text-align: left;
  font-size: 90%;
  text-align: justify;
}
.cluetip-default #cluetip-outer {
  position: relative;
  margin: 0;
  background-color: #CCE8FA;
}
.cluetip-default #cluetip-inner {
  padding: 10px;
}
.cluetip-default div#cluetip-close {
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}
div#status {
    position:absolute;
    width:330px;
    top:304px;
    left:18px;
    padding:10px;
    z-index:10;
    border:3px solid #555;
    border-top:none;
    border-bottom-right-radius:         8px;
    border-bottom-left-radius:          8px;
    -moz-border-radius-bottomleft:      8px;
    -moz-border-radius-bottomright:     8px;
    -webkit-border-bottom-left-radius:  8px;
    -khtml-border-bottom-left-radius:   8px;
    -webkit-border-bottom-right-radius: 8px;
    -khtml-border-bottom-right-radius:  8px;

    background-color: #FBB0A0;
    color: #000;
}
