header {
    height: 165px;
    background-color: #0050A0;
    padding-top: 23px;
    padding-left: 30px;
    padding-right: 50px;
}
#soustitre {
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 70%;
    font-style: italic;
}
#bouton {
    float: right;
    margin: 30px 25% 0 0;
    text-align: center;
    border: 1px solid;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    a {
        color: #fff;
    }
}
#separateur {
    height: 30px;
    background: #f0f0f0;
}
.clear {
    clear: both
}
.headerRight {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    height: 100px;
    align-items: center;
    select {
        appearance: none;
        color: #fff;
        background-color: #0050A0;
        border-color: #0050A0;
    }
}
.headerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    img {
        height: 100px;
        width: auto;
    }
    .sitetitle {
        color: #fff;
        padding-left: 42px;
        font-size: 22px;
        align-self: center;
    }
    .smalltitle {
        display: none;
    }
}
@media screen and (max-width: 1215px) {
    .headerLeft .largetitle {
        display: none;
    }
    .headerLeft .smalltitle {
        display: inline-block;
    }
}
