header {
    height: 165px;
    background-color: #0050A0;
    padding-top: 23px;
    padding-left: 30px;
    padding-right: 50px;
}
#soustitre {
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 70%;
    font-style: italic;
}
#bouton {
    float: right;
    margin: 30px 25% 0 0;
    text-align: center;
    border: 1px solid;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    a {
        color: #fff;
    }
}
#separateur {
    height: 30px;
    background: #f0f0f0;
}
.clear {
    clear: both
}
.headerRight {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    height: 100px;
    align-items: center;
    .language {
        overflow: hidden;
        position: relative;
        width: 90px;
        height: 22px;
        font-size: 1.4rem;
    }
    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: #0050A0;
        outline: 0;
        border: 0 !important;
        box-shadow: none;
        :hover::after {
            color:#fff;
        }
    }
    .language::after {
        content: '>';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 15px;
        background: white;
        pointer-events: none;
        transform: rotate(90deg);
        font-size: 1.5em;
        background: #0050A0;
        color: #fff;
    }
    .language:hover::after {
        color: #fff;
    }
}

#lang_choice_1 option:checked {
        background-color: #fff;
        }

.headerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    img {
        height: 100px;
        width: auto;
    }
    .sitetitle {
        color: #fff;
        padding-left: 42px;
        font-size: 22px;
        align-self: center;
    }
}
@media screen and (max-width: 1050px) {
    .headerLeft .smalltitle {
        display: none;
    }
}
@media screen and (max-width: 510px) {
    .headerLeft {
        display: none;
    }
}
