#accessibility, .accessli, .accesslisspuce, .logos {display:inline-block}
#center2, #center3, .boite, #sidebar, #footer {display:inline-block}
#center2 #pagenorm {display:inline-block}
footer {text-align: center;}
footer ul{display:inline-block;}
#center2 #sidebar{display:inline-block; vertical-align:top;}
#search{display:inline-block;float:right;padding-right:12%;margin-top:0px;}
