{% import "homenews.twig" as homenews %}
{% extends 'page-layout.twig' %}
{% block content %}
{% block breadcrumb %}
    {% for warning in alerte %}
        <div class="alerte">{{warning.post_content}}</div>
    {% endfor %}
{% endblock %}
<div id="contentaccueil" class="bsbb">
        {{ ebsco_widget|shortcodes }}
    <div id="center3">
        {% for box in news %}
        {{ homenews.macro(box.title, box.slug, box.posts, theme.uri) }}
        {% endfor %}
    </div><!-- fin center -->
</div><!--/contentaacueil-->
{% endblock %}
