{% extends 'page-layout.twig' %}
{% block title %}
    {{site.name}}
{% endblock %}
{% block content %}
{% for warning in alerte %}
    <div class="alerte">{{warning.content}}</div>
{% endfor %}
{% endblock %}
