{% extends 'page-layout.twig' %}
{% block title %}
    BibCnrs - Portail d’accès aux ressources documentaires du CNRS
{% endblock %}
{% block content %}
{% for warning in alerte %}
    <div class="alerte">{{warning.content}}</div>
{% endfor %}
{% endblock %}
