{% extends 'page-layout.twig' %}
{% block content %}
    <div id="content" class="bsbb">
    {% for post in posts %}
    {% block breadcrumb %}
        <span class="bread">{{parent()}} >> {{post.title}}</span>
    {% endblock %}
        <div id="center">
            <div id="pagenorm">
                <h1 class="font-visit">{{post.title}}</h1>
                    {{post.content}}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
