backups
wp-content/plugins
wp-content/index.php
wp-content/themes/*
!wp-content/themes/portail
wp-content/themes/portail/style.css
wp-content/uploads
wp-content/vendor
composer.lock
.currentCommit
node_modules
bower.json
package.json
.bowerrc
composer-extra-assets.lock
